<div class="homeContainer">
  <div class="main">
    <h2>What is Leetcode?</h2>
    <p>
      Leetcode is a online platform where you can practice,test and develop your
      programming skills! You can find a variety of code problems ranging form
      easy to hard problems.
    </p>

    <h3>How does it work?</h3>
    <p>
      If you go to the problems page. You can find many different code problems.
      These code problems give you a detailed description of a problem that you
      need to solve. Together with some example's to better explain the problem.
      You can sovle the problems in JavaScript, Python or C#.
    </p>
  </div>
  <div class="side">
    <div class="cardContainer">+200 Problems</div>
    <div class="cardContainer">JavaScript - Python - C#</div>
    <div class="cardContainer">+10.000 Users</div>
  </div>
</div>
